@charset "UTF-8";

/*
Paleta de cores
verde: #49a09d
Lilás: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body, html {
    background-color: #960202;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);

    transform: translate(-50%, -50%);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-anni-roenkae-3435272\ \(1\).jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 9px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: justify;
}

div.campo {
    background-color: #960202;
    border: 2px solid #960202;
    height: 40px;
    border-radius: 8px;
    margin: 3px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
   background-color: white;
    font-size: 1em;
   width: calc(100% - 45px);
   height: 100%;
   border: 0px;
   border-radius: 8px;
   padding: 4px;
   transform: translateY(-12px);
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(30, 68, 173);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(30, 68, 173);
}

input[type=submit]:hover {
    background-color: rgb(2, 82, 55);
    
}

a {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 2px;
    background-color: white;
    color: rgb(30, 68, 173);
    border: 1px solid rgb(30, 68, 173);
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(17, 218, 151);
}